*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    padding: 0;
}
body{
    color:rgb(255, 255, 255);
    background-color: black;
    justify-items: center;

}
main{
    background-color: rgb(109, 2, 2);
    display:flexbox ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    border-radius: 10px;
}
section#sectarefas{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}
#submit{
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(167, 1, 1);
    color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    
}
#submit:hover{
    background-color: rgb(63, 0, 0);
    color: rgb(255, 255, 255);
}
#tarefa{
    border-radius: 10px;
    padding: 5px;
    width: 200px;

}
#tarefa:focus{
    background-color: rgb(255, 255, 255);
    border-color:rgb(167, 1, 1) ;
    color: black;
    outline: none;
}