@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Playwrite+NZ+Basic:wght@100..400&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
*{
    border: 0;
    padding: 0;
}



body{
    color:rgb(255, 255, 255);
    background-color: black;
    justify-items: center;
    font-family: 'Playwrite NZ Basic', monospace;


}
main{
    background-color: rgba(255, 255, 255, 0.178);
    display:flexbox ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    font-family: 'Playwrite NZ Basic', monospace;
    font-weight: bold;
}
section#sectarefas{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}
#submit{
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(167, 1, 1);
    color: white;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    
    
}
#submit:hover{
    background-color: rgb(63, 0, 0);
    color: rgb(255, 255, 255);
}
#tarefa{
    border-radius: 10px;
    padding: 5px;
    width: 200px;

}
#tarefa:focus{
    background-color: rgb(255, 255, 255);
    border-color:rgb(167, 1, 1) ;
    color: black;
    outline: none;
}
.concluida{
    text-decoration: line-through;
}
ul{
    margin-top: 20px;
    list-style: none;
}
.tarefa-item{
background-color: rgb(197, 194, 194);
border-radius: 3px;
color: black;
padding: 5px;
text-align: center;
margin-top: 10px;
box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.24);
font-family: 'Montserrat';
font-weight: bold;

}
.listavazia{
    display: none;
}
h3{
    display: inline;
}
.inputtarefa{
    background-color: transparent;
}
.inputtarefa:focus{
    background-color: transparent;
    max-width: 127px;
    outline: none;
}
.add-button{
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
}