* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(112, 111, 111);
  color: #e7e6ed;
}

#main {
  background-color: #2d2f34;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100dvh;
  text-indent: 1px;
}

#conteudo {
  background-color: #2d2f34;
  padding: 20px;
  width: 50%;
  height: 100%;
}

.listas {
  list-style: none;
}

.lip {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.projeto {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #393b42;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
}

#listatarefas {
  margin-left: 7%;
}

.tituloprojeto {
  font-style: italic;
  font-size: large;
  font-weight: 500;
}

.tituloprojeto::before {
  content: "";
  background-color: #6d9a74;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.divtitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.estadoprojeto {
  font-style: italic;
  font-size: large;
  font-weight: 500;
  color: #6d9a74;
  margin-bottom: 5px;
}

.estadoprojeto::after {
  content: "";
  background-color: #6d9a74;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
}

.buttonb {
  background-color: #2e3640;
  color: #8abbf3;
  width: 100px;
  height: 30px;
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.314);
}

.botaodesativado {
  background-color: #2e3640;
  color: #8abbf3;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.314);
}

.paibt {
  display: flex;
  justify-content: center;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.314);
  border-radius: 0 10px 10px 0;
  height: 30px;
  padding: 5px;
}

.input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.inputtitulo {
  border: none;
  box-shadow: none;
  outline: none;
  font-style: italic;
  font-size: large;
  font-weight: 500;
  background-color: #393b42;
  color: white;
}

.buttondelete {
  background-image: url("../src/assets/lixo.png");
  width: 25px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}

.buttondelete:hover {
  transition: 0.2s;
  background-image: url("./assets/lixo-vermelho.png");
}

.pp {
  color: #5b5e65;
}

.pp:hover {
  transition: 0.3s;
  color: white;
  display: inline-block;
}

.inputtarefa {
  background-color: #4a4c51;
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 1px solid #2d2f34;
  padding: 5px;
  border-radius: 10px;
}

.inputtarefa:focus {
  outline: none;
}

.litarefa {
  list-style: none;
  margin-bottom: 8px;
}

.txttarefa {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nometarefa {
  color: white;
}

.statustarefa {
  color: #e7e6ed;
}

.direitatarefa {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.buttondeletetarefa {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("./assets/lixo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.data {
  color: #c6c8d3;
  margin: 0;
}